fastapi
# typing_inspect
uvicorn
SQLAlchemy>=2.0
psycopg2-binary
httpx
websocket-client
playwright
# + playwright install, playwright install-deps
apscheduler
boto3

# dev
pytest  # For testing
pytest-asyncio
# pytest-cov  # For test coverage
# flake8  # For code linting
# black  # For code formatting
# mypy  # For type checking
# tox  # For testing in multiple environments

